
spring:
  datasource:
    url: jdbc:postgresql://postgres.railway.internal:5432/railway
    username: postgres
    password: gYBzdvlsuOgxxWCQqpyzmUOXUofwMRdK
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: false

server:
  port: ${PORT:8080}

jwt:
  secret: ${JWT_SECRET:change_this_to_a_long_random_secret_string_at_least_32_chars}
  expiration: ${JWT_EXPIRATION:86400000}
